<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cherhy.soloProject.domain.follow.repository.mapper.FollowMapper">

    <select id="findAllByFollowingCoveringIndexNoKey" resultType="List" parameterType="cherhy.soloProject.domain.follow.dto.request.FollowQueryDto">
        select member.id, follow.id, member1.name, member1.email
        from Follow f
        inner join
        (select id from Member m where id = #{memberId}
        order by f.id desc limit #{size}) as c
        on f.member.id = c.id
    </select>

    <select id="findAllByFollowingCoveringIndex" resultType="cherhy.soloProject.domain.follow.dto.response.ResponseFollowMemberDto"
            parameterType="cherhy.soloProject.domain.follow.dto.request.FollowQueryDto">
        select member.id, follow.id, member1.name, member1.email
        from Follow f
        inner join
        (select id from Member m
        where id = #{memberId} and #{key} > id
         order by f.id desc limit #{size}) as c
        on f.member.id = c.id
    </select>

</mapper>